{{!< default }}
{{#post}}


{{! Post navbar }}
<nav class="navbar shaded">
  <div class="navbar--row container">
    <!-- Icon -->
    <div class="navbar--icon">
      <a class="ripple" href="{{@blog.url}}">
        <i class="mdi mdi-arrow-left"></i>
      </a>
    </div>
    <!-- Title -->
    <span class="navbar--title">{{title}}</span>
    <!-- Spacer -->
    <div class="navbar--spacer"></div>

    {{!-- The blog navigation links --}}
    {{> navigation}}

  </div>
</nav>


{{! Post header }}
<header class="header shaded bg-darken">
  <!-- Navbar -->
  <!-- <nav class="navbar">
    <div class="navbar--row container">
      <div class="navbar--icon">
        <a class="ripple" href="{{@blog.url}}">
          <i class="mdi mdi-arrow-left"></i>
        </a>
      </div>
    </div>
  </nav> -->
  <!-- Content -->
  <div class="header--content onBottom container">
    <!-- Titles -->
    <h1 class="header--title">{{title}}</h1>
    <h5 class="header--subtitle">
      <i class="mdi mdi-calendar"></i>
      <time datetime="{{date format='YYYY-MM-DD'}}">
        {{date format='DD MMM YYYY'}}
      </time>
    </h5>
  </div>
  <!-- Background -->
  {{#if feature_image}}
    <img class="bg-image" src="{{img_url feature_image}}" />
  {{else}}{{#if @blog.cover_image}}
    <img class="bg-image" src="{{@blog.cover_image}}" />
  {{/if}}{{/if}}
</header>


<!-- Fabs -->
<div class="fabbar large">
  <div class="fabbar--content container">
    {{> "sharefab"}}
  </div>
</div>


{{! Post Main }}
<main class="main">
  <article class="main--content container">

    {{! Content }}
    <div class="post--content">{{content}}</div>
    <div class="divider"></div>

    {{! Tags }}
    <div class="post--tags half">
      {{#foreach tags}}
        <a class="ripple" href="{{url}}" title="{{name}}">{{name}}</a>
      {{/foreach}}
    </div>

    {{! Share }}
    <div class="post--share half">
      {{> "sharedrop"}}
    </div>

    {{! Author }}
    <div class="post--author">
      {{#author}}{{> "author"}}{{/author}}
    </div>

  </article>
</main>


{{! Comments }}
<div>
  <div id="disqus_thread" class="container"></div>

  <script>
  var disqus_config = function () {
  this.page.url = '{{@blog.url}}{{url}}';
  this.page.identifier =  '{{post.id}}';
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//lanrat.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>                            


{{! Next and previous }}
<aside class="side">
  <div class="side--content container">
    <div class="side--left">
      {{#next_post}}{{> "navcard"}}{{/next_post}}
      <span class="msg">No newer post</span>
    </div>
    <div class="side--right">
      {{#prev_post}}{{> "navcard"}}{{/prev_post}}
      <span class="msg">No older post</span>
    </div>
  </div>
</aside>

{{/post}}
